# Python Data Types

### List

In [2]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

### List With Mixed Types

In [4]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

### Lists are Mutable

In [11]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)

[17, 5]

### Traversing Lists

In [6]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [12]:
for i in range(len(numbers)):
    print(numbers[i],numbers[i] * 2)

17 34
5 10

In [13]:
for x in empty:
    print('This never happens.')

### List Operations

In [15]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [16]:
[0] * 4

[0, 0, 0, 0]

In [19]:
[1, 2, 3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
[3 * i for i in [1, 2, 3]]

[3, 6, 9]

### List Slicing

In [25]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [26]:
t[:4]

['a', 'b', 'c', 'd']

In [27]:
t[3:]

['d', 'e', 'f']

In [29]:
num = list(range(1,21))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
num[0:21:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
num[1:21:2]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### List Methods

In [35]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [37]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [40]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

In [42]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(x,t)

b ['a', 'c']

In [43]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [44]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

In [45]:
nums = [3, 41, 12, 9, 74, 15]
len(nums)

6

In [46]:
sum(nums)

154

### Dictionaries

In [49]:
eng2sp = dict()
eng2sp

{}

In [51]:
eng2sp['one'] = 'uno'
eng2sp

{'one': 'uno'}

In [52]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
eng2sp

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [53]:
print(eng2sp['two'])

dos

In [54]:
print(eng2sp['four'])

KeyError: 'four'

In [55]:
len(eng2sp)

3

In [56]:
eng2sp.keys()

dict_keys(['one', 'two', 'three'])

In [57]:
eng2sp.values()

dict_values(['uno', 'dos', 'tres'])

In [58]:
'one' in eng2sp

True

In [59]:
'uno' in eng2sp

False

In [60]:
"uno" in list(eng2sp.values())

True

### Iteration In Dict

In [62]:
for key in eng2sp:
    print(key, eng2sp[key])

one uno
two dos
three tres

In [64]:
for key,val in eng2sp.items():
    print(key,val)

one uno
two dos
three tres

### Tuples

In [65]:
t = ('a', 'b', 'c', 'd', 'e')

In [69]:
t1 = ("a")
t1

'a'

In [70]:
t2 = ("a",)
t2

('a',)

In [71]:
tuple('lupins')

('l', 'u', 'p', 'i', 'n', 's')

In [72]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment